<div class="content">
	<div class="box slider">
		<div class="title">ISSUES</div>
		<div class="outer-slider-container">
			<div class="up"></div>
			<div class="container slider-container" ng-controller="IssueCtrl">
				<div class="group">
	                <div class="title sub">未対応</div>
	                <ul class="container draggable">
	                <% @issues[:mi].each do | miIssue | %>
	                <li class="priority<%= miIssue['priority']['id'].to_s %>">
	                	<span><%= miIssue['summary'] %></span>
	                	<input viewer-value="viewer-value-issueKey" class="issue-hidden" type="hidden" value="<%= miIssue['issueKey'] %>">	
	                	<input viewer-value="viewer-value-description" class="issue-hidden" type="hidden" value="<%= miIssue['description'] %>">	
	                	<input viewer-value="viewer-value-summary" class="issue-hidden" type="hidden" value="<%= miIssue['summary'] %>">	 
	                	<input viewer-value="viewer-value-priority" class="issue-hidden" type="hidden" value="<%= miIssue['priority']['name'] %>">	   
	                	<input viewer-value="viewer-value-status" class="issue-hidden" type="hidden" value="<%= miIssue['status']['name'] %>">	 
	                	<input viewer-value="viewer-value-assignee" class="issue-hidden" type="hidden" value="<%= miIssue['assignee']['name'] %>">	                	
	                </li>
	                <% end %>
	                </ul>
	            </div>
	            <div class="group">
	                <div class="title sub">対応中</div>
	                <ul class="container draggable">
	                <% @issues[:chuu].each do | chuIssue | %>
	                <li class="priority<%= chuIssue['priority']['id'].to_s %>">
	                	<span><%= chuIssue['summary'] %></span>
	                	<input viewer-value="viewer-value-issueKey" class="issue-hidden" type="hidden" value="<%= chuIssue['issueKey'] %>">	
	                	<input viewer-value="viewer-value-description" class="issue-hidden" type="hidden" value="<%= chuIssue['description'] %>">	
	                	<input viewer-value="viewer-value-summary" class="issue-hidden" type="hidden" value="<%= chuIssue['summary'] %>">	 
	                	<input viewer-value="viewer-value-priority" class="issue-hidden" type="hidden" value="<%= chuIssue['priority']['name'] %>">	   
	                	<input viewer-value="viewer-value-status" class="issue-hidden" type="hidden" value="<%= chuIssue['status']['name'] %>">	 
	                	<input viewer-value="viewer-value-assignee" class="issue-hidden" type="hidden" value="<%= chuIssue['assignee']['name'] %>">	           	
	                </li>
	                <% end %>
	                </ul>
	            </div>
	            <div class="group">
	                <div class="title sub">対応済み</div>
	                <ul class="container draggable">
	                <% @issues[:zumi].each do | zumiIssue | %>
	                <li class="priority<%= zumiIssue['priority']['id'].to_s %>">
	                	<span><%= zumiIssue['summary'] %></span>
	                	<input viewer-value="viewer-value-issueKey" class="issue-hidden" type="hidden" value="<%= zumiIssue['issueKey'] %>">	
	                	<input viewer-value="viewer-value-description" class="issue-hidden" type="hidden" value="<%= zumiIssue['description'] %>">	
	                	<input viewer-value="viewer-value-summary" class="issue-hidden" type="hidden" value="<%= zumiIssue['summary'] %>">	 
	                	<input viewer-value="viewer-value-priority" class="issue-hidden" type="hidden" value="<%= zumiIssue['priority']['name'] %>">	   
	                	<input viewer-value="viewer-value-status" class="issue-hidden" type="hidden" value="<%= zumiIssue['status']['name'] %>">	 
	                	<input viewer-value="viewer-value-assignee" class="issue-hidden" type="hidden" value="<%= zumiIssue['assignee']['name'] %>">	                 	
	                </li>
	                <% end %>
	                </ul>
	            </div>
			</div>
			<div class="down"></div>
		</div>
	</div>
	<div class="content-pushed">
		<a class="slider-tab rotate"></a>
		<div class="box">
			<div class="title">TODO</div>
			<ul class="container draggable todo">
				<li>a</li>
				<li>b</li>
				<li>c</li>
				<li>d</li>
				<li>e</li>
				<li>f</li>
				<li>g</li>
				<li>h</li>
				<li>i</li>
				<li>j</li>
				<li>k</li>
				<li>l</li>
				<li>m</li>
				<li>n</li>
				<li>o</li>
				<li>p</li>
			</ul>
		</div>
		<div class="box">
			<div class="title">DOING</div>
			<ul class="container draggable doing">
			</ul>
		</div>
		<div class="box">
			<div class="title">DONE</div>
			<ul class="container draggable done">
			</ul>
		</div>
	</div>
	<div class="trash-container">
		<ul class="trash draggable"></ul>
		<div class="undo"></div>
	</div>
	<div class="viewer">
		<div class="viewer-tab"></div>
		<div class="viewer-container">
			<div class="row"><label>Issue Key: </label><a href="" target="_blank"><span class="viewer-value-issueKey"></span></a></div>
			<div class="row"><label>Summary </label><div class="viewer-value-summary"></div></div>
			<div class="row"><label>Description </label><div class="viewer-value-description"></div></div>
			<div class="row viewer-container-bottom">
				<div class="viewer-container-left"><label>Priority: </label><span class="viewer-value-priority"></span></div>
				<div class="viewer-container-middle"><label>Status: </label><span class="viewer-value-status"></span></div>
				<div class="viewer-container-right"><label>Assignee: </label><span class="viewer-value-assignee"></span></div>
			</div>
		</div>
	</div>
</div>